<div class="container">
  <div class="row">
  <div class="col-md-12 col-md-offset-2">
    <h1>Categories</h1>
    <form [formGroup]="categoryService.dataForm" (ngSubmit)="onSubmit()">
        <input type="hidden" formControlName="id" name="id" id="id">
      <div class="mb-3">
        <label for="libelle" class="form-label">Libelle</label>
        <input
          type="text"
          class="form-control"
          id="libelle"
          name="libelle"
          formControlName="libelle"
        />
      </div>
      <div class="mb-3">
        <label for="code" class="form-label">Code</label>
        
        <input
          type="text"
          class="form-control"
          id="code"
          name="code"
          formControlName="code"
        />
      </div>
      
      <button type="submit" class="btn btn-primary"><i class="fa fa-database"></i> &nbsp;Submit</button> &nbsp;
      <button type="button" class="btn btn-outline-dark" [mat-dialog-close]><i class="fa fa-close"></i> &nbsp;Close</button>
    </form>
  </div>
</div>
</div>
